extends pug/base

append vars
	- page = 'shop'

block content
	include pug/header
	h1
		|Средства ухода

	+breadcrumbs([
		{
			href: 'index.html',
			text: 'Главная'
		},
		{
			href: 'shop.html',
			text: 'Магазин'
		},
		{
			href: 'shop.html#care-products',
			text: 'Средства ухода'
		}
	])
