extends pug/base

append vars
	- page = 'shop'
	- title = 'Средства ухода | Barbershop'

block content
	include pug/header
	main.main
		h1.main__title
			| Средства ухода

		+breadcrumbs([
			{
				href: 'index.html',
				text: 'Главная'
			},
			{
				href: 'shop.html',
				text: 'Магазин'
			},
			{
				href: 'shop.html#care-products',
				text: 'Средства ухода'
			}
		])

		section.product
			h2.product__title.visually-hidden
				| Каталог товаров

			ul.product__list
				li.product__item
					+card({
						a: {
							href: '#'
						},
						img: {
							src: ''
						},
						header: 'Набор для путешествий «Baxter of California»',
						price: '2900'
					})
				li.product__item
					+card({
						a: {
							href: '#'
						},
						img: {
							src: ''
						},
						header: 'Увлажняющий кондиционер «Baxter of California»',
						price: '750'
					})
				li.product__item
					+card({
						a: {
							href: '#'
						},
						img: {
							src: ''
						},
						header: 'Гель для волос «SUAVECITO»',
						price: '290'
					})
				li.product__item
					+card({
						a: {
							href: '#'
						},
						img: {
							src: ''
						},
						header: 'Глина для укладки волос «American crew»',
						price: '500'
					})
				li.product__item
					+card({
						a: {
							href: '#'
						},
						img: {
							src: ''
						},
						header: 'Гель для волос «AMERICAN CREW»',
						price: '300'
					})
				li.product__item
					+card({
						a: {
							href: '#'
						},
						img: {
							src: ''
						},
						header: 'Набор для бритья «Baxter of California»',
						price: '3900'
					})

		+pagination({1: 'первую', 2: 'вторую', 3: 'третью', 4: 'четвёртую'}, 2)

		// Фильтр товаров

		include pug/footer
